# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=500']
        stages: [pre-commit]
      - id: check-ast
        stages: [pre-commit]
      - id: check-case-conflict
        stages: [pre-commit]
      - id: check-executables-have-shebangs
        stages: [pre-commit]
      - id: check-json
        stages: [pre-commit]
      - id: check-shebang-scripts-are-executable
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
      - id: debug-statements
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: mixed-line-ending
        stages: [pre-commit]
      - id: name-tests-test
        args: ['--pytest-test-first']
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Run the linter
      - id: ruff-check
        args: [--fix]
        stages: [pre-commit]
      # Run the formatter
      - id: ruff-format
        stages: [pre-commit]

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.13
    hooks:
      - id: uv-lock
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: pytest
        name: Run pytest with coverage
        entry: uv run pytest --cov=src --cov-report=xml -q
        language: python
        pass_filenames: false
        stages: [pre-push]

      - id: diff-cover
        name: Run diff-cover to check coverage of changed lines
        entry: uv run diff-cover coverage.xml --compare-branch=origin/master --format markdown:newline_report.md --fail-under=80
        language: python
        pass_filenames: false
        stages: [pre-push]
